 .calendario {
            display: grid;
            grid-template-columns: repeat(7, 50px);
            border: 2px solid black;
            border-collapse: collapse;
            max-width: 350px;
        }

        .calendario div {
            border: 2px solid black;
            border-collapse: collapse;
        }

        .empty {
            background-color: darkgray;
        }
        .folga{
            background-color: green;
        }