
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.container {
    margin: auto;
    width: 50%;
    min-height: 95vh;
}
h1{
    font-size: 30px;
    text-align: center;
    padding: 25px;
}


label, input, button{
    display: block;
    width: 100%;
    padding: 3px;
}
label{
    margin-top:10px
}
button{
    margin-top: 15px;
}
ul {
  list-style-type: none;
}
#res{
    margin-bottom: 20px;
    margin-top:20px;
}
#calendarios{
    display: grid;
    grid-template-columns: auto auto;
}
.calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 2px solid black;
  border-collapse: collapse;
  max-width: 350px;
  margin: auto;
}
.bloco{
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
.calendario div {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.empty {
  background-color: darkgray;
}
.folga {
  background-color: green;
}
footer{
    background-color: black;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer #link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
  }

}
@media only screen and (max-width: 1200px) {
#calendarios{
      grid-template-columns: auto;
  }
}